*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header{
    background-color: rgb(7, 7, 138);
}


header{
    padding: 10px;
    color: white;
}

nav a{
    color: white;
    text-decoration: none;
}

.hero{
    background-image: url(../img/pexels-cottonbro-5483071.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80pv;
    padding: 100px 0;
    text-align: center;
}

.hero h2{
    color: white;
    background-color: rgba(0,0,0,0.5);
    width: 400px;
    height: 40px;
    border-radius: 10px;
    padding-top: 5px;
    margin-left: 600px;
}
main{
    background-color: #f8fafc;

}

.informacion{
   padding: 30px;
}

div{
    background-color: white;
    border-radius: 10px;
    margin: 10 0 10 50px;
    padding: 30px;
    width: 700px;
    margin: 0 0 20px 400px;
}

h3{
    color: rgb(7, 7, 138);
}

.informacion p{
    font-size: 15px;
}
footer{
    background-color: rgb(7, 7, 138)
    
}

footer p{
    color: white;
    text-align: center;
    height: 50px;
    padding-top: 20px;
}